body {
font-family: Arial, Helvetica, sans-serif;
}

h1 {
text-align: center;
}

.menubox {
background-color: grey;
border: 1px black;
}

.half {
width: 50%;
float: left;
}

.full {
width: 100%;
}

.text {
clear: right;
}

.boxtitle {
font-weight: bold;
text-align: center;
float: right;
border: 5px black;
margin: 0;
width: 33%;
}

#chicken {
background-color: #FF6666;
color: black;
}

#beef {
background-color: #CC0000;
color: white;
}

#sushi {
background-color: #CCCC00;
color: black;
}
