* {
  box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

h1 {
text-align: center;
margin-bottom: 15px;
}

.menubox {
background-color: grey;
border: 1px solid black;
}

@media (max-width: 767px) {                                                                                                         
.half {                                                                                                                                                    
width: 100%;                                                                                                                                      
}                                                                                                                                                          
.full {                                                                                                                                                    
width: 100%;                                                                                                                                               
}                                                                                                                                                          
} 

@media (min-width: 768px) and (max-width: 991px) {
.half {
width: 50%;
float: left;
}
.full {
width: 100%;
}
}

@media (min-width: 992px) {
.half {
width: 33.33%;
float: left;
}
.full {
width: 33.33%;
float: left;
}
}

.text {
clear: right;
}

.boxtitle {
font-weight: bold;
text-align: center;
float: right;
border: 1px solid black;
margin: -1px;
width: 33%;
}

#chicken {
background-color: #FF6666;
color: black;
}

#beef {
background-color: #CC0000;
color: white;
}

#sushi {
background-color: #CCCC00;
color: black;
}
