body {
}

/** HEADER **/

#header-nav {
  background-color: #F5D0A9;
  border-radius: 0;
  border: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: auto;
}

.navbar-brand h1{
  margin: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
