/** HEADER **/

#header-nav {
  background-color: #F5D0A9;
  border-radius: 0;
  border: 1px solid black;
}

.navbar-brand {
  height: auto;
  color: black;
}

h1{
  margin: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/** MAIN CONTENT **/

.menubox {
  background-color: #F5D0A9;
  padding: 0px 15px 15px 15px;
  margin: 15px;
  height: 1000px;
}
